body{
	margin:0px;
	padding: 0px;
	background-color: white;
	font-family: system-ui;
}
.clearfix{
	clear: both;
}
.logo{

 
	margin: 0px;
	margin-left: 28px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
 
}
.logo span{
	color: black;
}
.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #367E18;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 30px;
}
.sidenav a {
  padding: 15px 8px 15px 32px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
  background-image:linear-gradient(to left,green,white) !important;
}
.sidenav{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}
#main {
  transition: margin-left .5s;
  padding: 16px;
  margin-left: 350px;
}
.head{
	padding:20px;
}
.col-div-6{
	width: 50%;
	float: left;
}
.profile{
	display: inline-block;
	float: right;
	width: 160px;
}
.pro-img{
	float: left;
	width: 40px;
	margin-top: 5px;
}
.profile p{
	color: white;
	font-weight: 500;
	margin-left: 55px;
	margin-top: 10px;
	font-size: 13.5px;
}
.profile p span{
	font-weight: 400;
    font-size: 12px;
    display: block;
    color: #8e8b8b;
}
.col-div-3{
	width: 25%;
	float: left;
}
.box{
	width: 100%;
	height: auto !important;
	background-color: white;
	margin-left: 10px;
	padding:10px;
  display:flex !important;
}
.box p{
	 font-size: 35px;
    color: black;
    font-weight: bold;
    line-height: 30px;
    padding-left: 10px;
    margin-top: 20px;
    display: inline-block;
}
.box p span{
	font-size: 20px;
	font-weight: 400;
	color: black;
}
.box-icon{
	font-size: 40px!important;
    float: right;
    margin-top: 35px!important;
    color: black;
    padding-right: 10px;
}
.tbl{
  display: flex;
  gap: 100px;
}

.col-div-6 {
  width: 48%;
  float: left;
  margin-right: 2%;
  margin-bottom: 20px;
}

.col-div-6:last-child {
  margin-right: 0;
}
.tbl_full{
  width: 100%;
}
table tr th{
  border-bottom: 1px solid black;
  padding: 1%;
  text-align: left;
}
table tr td{
  padding: 1%;
}
.btnadd{
  background-color: white;
  padding: 0.5%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}
.btnadd:hover{
  background: gray;
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(126deg);
  }
}
.circle-wrap .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #fff;
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}